@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
      /*padding: 0;
      margin: 0;*/
      font: 100% 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
      background-color: #faccc6;
      }

html, body, #map {
      height: 100%;
      width: 100%;
      color: #f05742 !important;
        }


/*#map2 {
      height: 100%;
      width: 100%;
      }*/

.bg-dark {
background-color: #faccc6 !important;
}
/*#map {
  position:absolute;
}
*/

/*a:hover { 
    background-color: #f48171;
}*/

#form {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  width:375px;
  float: left;
  font: 100% 'Oswald', 'Helvetica Neue', Helvetica, sans-serif !important;
}


.container-fluid{
  z-index:999;
  height: auto;
  width: auto;
  padding: auto;
  margin: auto;
 /* position:relative;*/

}

#dialog{
  background-color: #faccc6;
  font: 100% 'Oswald', 'Helvetica Neue', Helvetica, sans-serif !important;
}

.leaflet-popup-content-wrapper {
  font: 100% 'Oswald', 'Helvetica Neue', Helvetica, sans-serif;
  /*display: flex !important;
  justify-content: center !important;
  text-align:center;*/

}

.leaflet-popup-content-wrapper .leaflet-popup-content {
  font: 100% 'Oswald', 'Helvetica Neue', Helvetica, sans-serif;
  text-align:center;
}

/*in theory should get rid of all blue lines when item is clicked*/
/*input:focus {
    outline:none !important;
}*/


.icon {
    background: url('icon.png');
    height: 10px;
    width: 10px;
    display: inline-block;
    /* Other styles here */
}

.chart {
  padding-top:1em;
/*  padding-bottom:1em;*/
 /* overflow:hidden;*/
}

/*.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}*/

/*ul{
    
    list-style-type: none;
    padding-left:0;
    float: left;
    column-count: 2;
  }
*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.btn {
/*  margin: 0 auto !important;*/
}

.table {
  margin-bottom: 0rem;
/*  margin: 0 auto !important;*/
}

.table th,
.table td {
  padding: 0.1rem;
  vertical-align: top;
  border-top: 1px solid #f05742;
}

.modal-header {
  display: inline-block !important;
}

#modalbody{
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}