@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
      padding: 0;
      margin: 0;
      font: 100% 'Oswald', 'Helvetica Neue', Helvetica, sans-serif;
      color: "#FFFFFF";
      background-color: #9ab973;
      }

html, body, #map {
      height: 100%;
      width: 100%;
        }


.bg-dark {
background-color: #9ab973;
}
/*#map {
  position:absolute;
}
*/

a:hover { 
    background-color: #9ab973;
}

#form {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  width:375px;
  float: left;
}


.container-fluid{
  z-index:999;
  height: auto;
  width: auto;
  padding: auto;
  margin: auto;
 /* position:relative;*/

}

#dialog{
  background-color: #9ab973;
  font: 100% 'Oswald', 'Helvetica Neue', Helvetica, sans-serif;
}
